@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 230, 234);
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100vw;
    margin-top: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 40px;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li .active {
    font-weight: bold;
}

.navbar-left {
    flex: 70%;
}

.navbar-right {
    flex: 30%;
    text-align: end;
    margin-right: 50px;
}

.navbar-right a {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 7px;
}

.navbar-left ul li a:hover  {
    color: white;
    background-color: black;
    border-radius: 100px;
    padding: 8px 12px;
}

.project-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.project-form .project-form-container {
    width: 800px;
}

.project-form .project-form-container h1 {
    text-align: center;
    margin-bottom: 30px ;
}

.project-form form label {
    font-size: 20px;
    font-weight: 400;
}

.project-form form select, textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.project-form form .input-project-name input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}
.project-form form .project-date input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}
.project-form form .project-date {
    display: flex ; 
    justify-content: space-between;
    width: 100% ;
}

.project-form form .project-date .date-start {
    width: 100%;
    margin-right: 30px;
}

.project-form form .project-date .date-end {
    width: 100%;
    margin-left: 0px;
}

.project-form .project-duration input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.nametag{
    font-size: 20px;
    margin-bottom: 8px;
}
.input-project-technology {
    display: flex;
}

.input-project-technology .tech-left {
    display: flex; 
    flex-direction: column;
    margin-right: 80px;
} 

.input-project-technology .tech-right {
    display: flex; 
    flex-direction: column ;
    margin-left:100px;
}

.input-project-technology .checkbox {
    margin-right: 10px;
} 

.input-project-technology label {
    display: flex;
    align-items: center;
    margin-bottom:20px;
}



.project-form form .input-project-image-group{
    background-color: white;
    border-radius: 12px;
    height: 50px;
}
  
.project-form form .input-project-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-form form .input-project-image-group label p {
    font-size: 15px;
    padding-left: 20px;
}

.project-form form .input-project-image-group img {
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.button-submit button{
    float: right;
    background-color: black;
    color: white;
    border-radius: 100px;
    margin-top: 20px;
    padding: 5px 20px;
}

.content {
    background-color: #f8f8f8;
  }
  
  .row-project {
    border-radius: 8px;
  }
  
  .tampung-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
    margin: 0px 54px;
  }
  
  .row-project .col-project {
    background-color: #ffffff;
    box-shadow: 0px 2px 2px grey;
    width: 350px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .row-project .col-project .img-control {
    margin-top: 18px;
    width: 320px;
    max-height: 233px;
    overflow: hidden;
  }
  
  .row-project .col-project img {
    border-radius: 8px;
    width: 100%;
  }
  
  .row-project .col-project i {
    margin-right: 22px;
  }
  
  .row-project .col-project .button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .row-project .col-project .button button {
    background-color: black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  .row-project .col-project .button button:hover {
    color: black;
    background-color: white;
  }
  
  .content .container .text-center h1 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  
  .row-project .col-project .description {
    max-height: 60px;
    overflow: hidden;
    color: black !important;
  }