@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 230, 234);
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #f7f7f7ec
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 30px;
  font-size: 20px;
}

nav ul li a:hover {
  color: white;
  background-color: black;
  border-radius: 100px;
  padding: 8px 12px;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 60px;
}

.nav-right a {
  background-color: black;
  color: white;
  padding: 8px 22px;
  border-radius: 20px;
}

.nav-right a:hover {
  background-color: grey;
  color: black;
  padding: 8px 22px;
  border-radius: 20px;
}

.active {
  font-weight: bold;
}

#bars-menu {
  display: none;
}

.hamburger-nav-container {
  font-size: 20px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
}

.hamburger-nav-container a:hover {
  color: black;
  font-weight: bold;
}

.hamburger-nav-container .hamburger-active {
  font-weight: bold;
}

.hamburger-nav-container .contact-me {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0;
  font-size: 18px;
}

.hamburger-nav-container .contact-me:hover {
  background-color: grey;
  color: black;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0;
  font-size: 18px;
}
@media only screen and (max-width: 700px) {
  .item-collapse {
      display: none;
  }
  #bars-menu {
      display: block;
  }
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
  }
  
  
  .form-content {
    width: 800px;
    margin: auto;
  }
  
  .form-content h1 {
    text-align: center;
    font-weight: bold;
  }

  .container .form-content .input-form-name input{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .container .form-content label {
    font-weight: 400;
    font-size: 20px;
  }
  
  form h3 {
    font-size: 20px
  }
  
  textarea {
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    resize: none;
    height: 200px;
    font-size: 18px;
  }

  .project-date {
    width: 100%;
    display: flex;
  }
  .project-date .input-form-right {
    margin-left: 20px;
    width: 100%;
  }
  .project-date .input-form-left {
    width: 100%;
  }
  .project-date input {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }
  
  .input-project-technology {
    display: flex;  
    }

    .input-project-technology .left-checkbox {
    display: flex; 
    flex-direction: column;
    margin-right: 80px;
    } 

    .input-project-technology .right-checkbox {
    display: flex; 
    flex-direction: column ;
    margin-left:100px;
    }

    .input-project-technology .checkbox {
    margin-right: 10px;
    } 

    .input-project-technology label {
    display: flex;
    align-items: center;
    margin-bottom:20px;
    }

  form .input-blog-image-group {
    width: 100%;
    height:66px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  .btn-color {
    background-color: #e4e4e4;
    margin-left: -8px;
    margin-top: -8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
  
  form .input-blog-image-group label p {
    font-size: 25px;
    margin-top: 1lvh;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 19px;
    margin-bottom: 7%;
    color: #b2abab;
  }
  
  form .input-blog-image-group label img {
    margin-bottom: 12px;
  }
  
  form .input-blog-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  form .submit-data {
    display: flex;
    justify-content: end;
  }
  form .submit-data button {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  form .submit-data button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  
  .content {
    background-color: #f8f8f8;
  }
  
  .row-project {
    border-radius: 8px;
  }
  
  .tampung-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
    margin: 0px 54px;
  }
  
  .row-project .col-project {
    background-color: #ffffff;
    box-shadow: 0px 2px 2px grey;
    width: 350px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .row-project .col-project .img-control {
    margin-top: 18px;
    width: 320px;
    max-height: 233px;
    overflow: hidden;
  }
  
  .row-project .col-project img {
    border-radius: 8px;
    width: 100%;
  }
  
  .row-project .col-project i {
    margin-right: 22px;
  }
  
  .row-project .col-project .button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .row-project .col-project .button button {
    background-color: black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  .row-project .col-project .button button:hover {
    color: black;
    background-color: white;
  }
  
  .content .container .text-center h1 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  
  .row-project .col-project .description {
    max-height: 200px;
    overflow: scroll;
    color: black !important;
  }
  
  .button .button-edit {
    width: 50%;
    font-size: 15px;
  }
  .button .button-delete {
    width: 50%;
    font-size: 15px;
  }

  .container i {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 700px) {
    .input-project-technology {
        display: block;
    }

    .container .form-content {
        width: 90%;
    }

    .project-date {
        flex-direction: column;
    }
    .project-date .input-form-right {
      margin-left: 0px;
    }

    .input-project-technology .right-checkbox {
      margin-left: 0px;
    }

    .content {
        display: block;
        padding: 10px ;
        justify-content: center;
        align-items: center;
    }

    .col-project {
        width: 90%;
        margin: 20px auto;
    }

    .img-control img {
        height: 170px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 701px) {
    .content {
        display: grid;
        grid-template-columns: 330px 330px;
        padding: 30px auto;
        gap: auto;
    }

    .col-project {
        width: 90%;
    }

    .img-control img {
        height: 170px;
    }
}